/*Stetup/Config*/

@media (max-width: 600px) and (min-width: 375px) {

  .menu img{
        width: 70px !important;
        height: 70px !important;
    }

    .menu input {
        width: 150px !important;
    }

    h1 {
        font-size: 21px;
    }

    #value_real {
        position: relative;
        z-index: 0 !important;  
    }
    
    .grafico {
        width: 100% !important;
    }
}

.menus {
    position: sticky;
    top: 0;
}

.menu {
    background: rgb(16, 173, 16);
    height: 70px;
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;

    justify-content: space-around;

    z-index: 4 !important;
}

.menu_2 {
    background: rgb(51, 201, 51);
    height: 30px;
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;

    justify-content: space-around;

    z-index: 4 !important;
}


.search_bar {
    display: flex;
    align-items: center;
}

.lupa {
    position: relative;
    right: 35px;
    color: green;
}

.grafico {
    width: 500px;

    background-color: white;
}

.descricao_de_moeda {
    border: 20px solid white;

    background-color: white;
}

body {
    margin: 0px;
    background-color: white;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23646464' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23535353'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    font-family: 'roboto', 'Arial', 'sans-serif';
    color: green;
}

h1 {
    margin-left: 10px;
}

button {
    background-color: white;
    border-radius: 8px;

    color: green;
}

#moeda {
    height: 35px;  
    width: 300px;
    border-width: 0px;
    border-radius: 10px;
    padding-left: 10px;
}

#value_real {
    height: 25px;  
    width: 100px;
    border-width: 0px;
    border-radius: 10px;
    padding-left: 10px;

    border-width: 2px;
}

#image {
    margin: 10px;

    width: 100px;
}

* {
    margin: 0;
    padding: 0;
}

